[project]
	description = Yet Another DataTables Column Filter (Yadcf)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Leandro Pennella (LeandroPennella)
[access "refs/for/refs/*"]
	read = group user/Leandro Pennella (LeandroPennella)
	push = group user/Leandro Pennella (LeandroPennella)
	label-Code-Review = -2..+2 group user/Leandro Pennella (LeandroPennella)
	label-Verified = -1..+1 group user/Leandro Pennella (LeandroPennella)
	rebase = group user/Leandro Pennella (LeandroPennella)
	removeReviewer = group user/Leandro Pennella (LeandroPennella)
	submit = group user/Leandro Pennella (LeandroPennella)
[access "refs/heads/*"]
	read = group user/Leandro Pennella (LeandroPennella)
	create = group user/Leandro Pennella (LeandroPennella)
	push = +force group user/Leandro Pennella (LeandroPennella)
	pushMerge = group user/Leandro Pennella (LeandroPennella)
[access "refs/tags/*"]
	push = +force group user/Leandro Pennella (LeandroPennella)
	pushTag = group user/Leandro Pennella (LeandroPennella)
	pushSignedTag = group user/Leandro Pennella (LeandroPennella)
